.col-md-12 {
  height:120px;
  background-color:#000066;
  color:FFFFFF;
}

.col-md-6 {
  border: 2px dashed #000;
  height:100px;
  background-color:#764950;
}

.col-md-3 {
  border:2px solid #000;
  height:100px;
  color:purple;
}

.col-md-4 {
  border:3px solid #000;
  height:50px;
  background-color:yellow;
}

.container-fluid {
  height: 50px;
  background-color:red;

}

.container {
  height:50px;
  background-color:pink;
}

.yellow {
  height:50px;
  background-color:yellow;
}

.col-lg-9 {
  background-color:blue;
  border:2px solid #854;
}
.col-lg-3 {
  background-color:purple;
}

.absoulte-lorem {
  position: fixed;
  top:20px;
  left:200px;
}
